$primary-color:#274C5B;
$green-color:#7EB693;
$yellow-color:#EFD372;
$blue-color:#335B6B;
$black-color:#525C60;
$white-color:#525C60;
$font-roboto: 'Roboto', sans-serif;
$font-opensans: 'Open Sans', sans-serif;
$font-yellowtail: 'Yellowtail', cursive;